<div>
    <mat-toolbar color="primary" style="height:90px;">
        <span></span>
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="right-align" style="flex: 0 0 auto; width: 80%;">
            <span>Comité ético científico</span>
        </div>
        <div style="height: 20px !important"></div>

        <div class="right-align mt-2" style="background:white">
            <img  src="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" width="40px">
        </div>

        <div class="container mt-3 pl-4 ">
            <div class="row pt-5" style="max-height: 9px;">
                <span>{{names | titlecase }} {{surnames | titlecase}}</span>
            </div>
            <br>
            <div class="row pb-5">
                <span>{{role | titlecase}} |  <a>Perfil</a></span>
               
            </div>
        </div>



    </mat-toolbar>

    <mat-sidenav-container style="height: 100vh ;" class="example-sidenav-container" color="primary"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav [opened]=" !mobileQuery.matches" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list>

                <div mat-subheader>Menú</div>
                <mat-list-item routerLinkActive="light-blue accent-2" routerLink="welcome">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>Inicio</div>
                </mat-list-item>




                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>

                    <mat-expansion-panel-header>
                        <mat-icon>group_user</mat-icon>Miembros
                    </mat-expansion-panel-header>

                    <mat-nav-list dense>

                        <mat-list-item routerLinkActive="light-blue accent-2" routerLink="solicitudes">
                            <mat-icon><span class="material-symbols-outlined">
                                    group_add
                                </span></mat-icon>
                            <span matBadgeColor="warn"
                                matBadgeOverlap="false">Solicitudes de registro</span>
                        </mat-list-item>

                        <mat-list-item routerLinkActive="selected-option" routerLink="#">
                            <mat-icon><span class="material-symbols-outlined">
                                    people
                                </span></mat-icon>Solicitud de registro
                        </mat-list-item>

                    </mat-nav-list>

                </mat-expansion-panel>

                <!--ROL INVESTIGADOR-->




                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>

                    <mat-expansion-panel-header>
                        <mat-icon>book</mat-icon>Proyectos
                    </mat-expansion-panel-header>

                    <mat-nav-list dense>

                        <mat-list-item routerLinkActive="light-blue accent-2" routerLink="solicitudes-proyecto">
                            <mat-icon><span class="material-symbols-outlined">
                                    add
                                </span></mat-icon>
                            <span matBadgeColor="warn" matBadgeOverlap="false">Crear solicitud</span>
                        </mat-list-item>



                    </mat-nav-list>

                </mat-expansion-panel>





                <mat-divider></mat-divider>



                <mat-list-item class="red-text" (click)="logout()">
                    <mat-icon mat-list-icon>exit_to_app</mat-icon>
                    <div mat-line>Cerrar Sesión</div>
                </mat-list-item>
            </mat-nav-list>

        </mat-sidenav>


        <mat-sidenav-content>
            <br><br>
           


                <div class="row">
                    <div class="col-md-12 mt-2">

                        <router-outlet></router-outlet>
                    </div>

                </div>
          
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>