<div id="base">
    <div class="row ">

        <mat-card class="mt-4" style="border-radius: 20px; max-width: 600px;">
            <mat-card-title class="text-center">Registro de usuario</mat-card-title>
            <mat-card-content class="mt-4">
                <form class="mb-4" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                    <div class="row center">

                        <div class="col s6 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Nombre</mat-label>
                                <input matInput required required formControlName="names">

                                <mat-error
                                    *ngIf="registerForm.get('names')?.touched && registerForm.get('names')?.errors?.['required']">
                                    El nombre es <strong>requerido</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="registerForm.get('names')?.touched && registerForm.get('names')?.errors?.['minlength']">
                                    El nombre debe tener al menos <strong>4</strong> caracteres
                                </mat-error>


                            </mat-form-field>


                        </div>
                        <div class="col s6">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Apellidos</mat-label>
                                <input matInput required formControlName="surnames">

                                <mat-error
                                    *ngIf="registerForm.get('surnames')?.touched && registerForm.get('surnames')?.errors?.['required']">
                                    Los apellidos son <strong>requeridos</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="registerForm.get('surnames')?.touched && registerForm.get('surnames')?.errors?.['minlength']">
                                    El campo debe tener al menos <strong>4</strong> caracteres
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row center">

                        <div class="col s6 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Tipo de identificación</mat-label>
                                <mat-select formControlName="document_type">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="registerForm.get('document_type')?.touched && registerForm.get('document_type')?.errors?.['required']">
                                    Indique el tipo de documento
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col s6">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Identificación</mat-label>
                                <input matInput required formControlName="document">
                                <mat-error
                                    *ngIf="registerForm.get('document')?.touched && registerForm.get('document')?.errors?.['required']">
                                    Indique su identificador
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row center">

                        <div class="col s6 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput required formControlName="email"
                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <mat-error
                                    *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
                                    El correo electónico es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('email')?.errors?.['pattern']">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col s6">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Teléfono</mat-label>
                                <input matInput required formControlName="phone">
                                <mat-error
                                    *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.errors?.['required']">
                                    El número telefónico es <strong>requerido</strong>
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row center">

                        <div class="col s6 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <mat-error
                                    *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">
                                    La Contraseña es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col s6">
                            <mat-form-field appearance="outline" style="width:100% ; ">
                                <mat-label>Confirmar contraseña</mat-label>
                                <input matInput [type]="hideConfirm ? 'password' : 'text'"
                                    formControlName="password_confirm">

                                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <mat-error *ngIf="registerForm.get('password_confirm')?.touched && 
                                                        registerForm.get('password_confirm')?.errors?.['notEquals']">
                                    Las contraseñas no son iguales
                                </mat-error>

                            </mat-form-field>

                            <!--  <div>{{registerForm.get('password_confirm')?.errors &&
                            registerForm.errors?.['passwordMismatch'] | json}}</div>-->




                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <mat-checkbox formControlName="checkTerms">Acepto términos y condiciones
                            </mat-checkbox>

                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-xs-12 col-md-6 mx-auto mb-2">
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (error)="handleError()"
                                [useGlobalDomain]="false" size="normal" hl="lang" theme="light" type="image"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>
                          
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-md-12 text-center">
                            <button mat-raised-button color="primary" class="col-md-5"
                                [disabled]="registerForm.invalid">Enviar</button>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>Ya estás registrado? <a [routerLink]="['/login']"
                                    style="cursor: pointer;text-decoration: none;">Iniciar
                                    sesión</a>
                            </p>

                        </div>
                    </div>
                </form>








            </mat-card-content>

        </mat-card>


    </div>
</div>



<p-dialog header="Aviso" [(visible)]="status_dialog" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p>  Solicitud de registro enviada con éxito, se notificará a su dirección de correo cuando su cuenta esté habilitada</p>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="status_dialog=false" label="Ok" class="p-button-text"></p-button>
           
        </ng-template>
</p-dialog>

<p-toast key="notification"  position="bottom-right"></p-toast>