

  <p-table #dt2 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','country.name','representative.name','status'] " class="mt-2">
   
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>Name</th>
        <th>Country</th>
        <th>Agent</th>
        <th>Status</th>
        <th style="width: 6rem">Verified</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="country.name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any"
                [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label }}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="boolean" field="verified"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="customer" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
        <td>
          {{customer.name}}
        </td>
        <td>
          <span class="image-text">{{customer.country.name}}</span>
        </td>
        <td>
          <span class="image-text">{{customer.representative.name}}</span>
        </td>
        <td>
          <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
        </td>
        <td>
          <i class="pi"
            [ngClass]="{'true-icon pi-check-circle': customer.verified, 'false-icon pi-times-circle': !customer.verified}"></i>
        </td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No customers found.</td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="rowexpansion" let-customer>
      <tr >
        <td colspan="6">
          
          {{customer |json}}

        </td>
      </tr>
   
    </ng-template>
  </p-table>




